@font-face {
    font-family: 'Bodoni MT';
    src: url('../fonts/Font/bodoni-mt-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BambooGothic';
    src: url('../fonts/Font/bamboo-gothic/bamboo-gothic.ttf') format('truetype');
}

.homeContainer {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.contactForm {
    margin: 25vh 0 0 15vw;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

.contactForm label {
    margin-top: 5vh;
    width: 80%; 
    text-align: left;
    font-family: BambooGothic, sans-serif;
}

.contactForm input {
    border: none;
    width: 80%; 
    border-bottom: 2px solid #6581AC;
    background: transparent;
    outline: none;
    margin-bottom: 15px;
    font-family: BambooGothic, sans-serif;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.contactForm input:focus {
    border: 1px solid #6581AC;
    padding: 8px;
    background: #F1F1F1;
}

.contactForm input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px 20px;
    width: 15vw;
    height: 7.5vh;
    background-color: #6581AC;
    color: white;
    border: none;
    cursor: pointer;
    font-family: BambooGothic, sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.contactForm input[type="submit"]:hover {
    background-color: #4A5F89;
}

.textBox {
    display: flex;
    color: #6581AC;
    font-size: clamp(2rem, 1.8881rem + 0.3824vw, 2.5rem);
    font-family: BambooGothic, sans-serif;
    font-weight: bold;
    text-align: left;
    position: absolute;
    bottom: 5vh;
    width: 80%;
}
