@font-face {
    font-family: 'BambooGothic';
    src: url('../fonts/Font/bamboo-gothic/bamboo-gothic.ttf') format('truetype');
}



.headerContainer {
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%; /* Take up full width */
    z-index: 1000; /* Keep it on top */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    background: white;
    transition: transform 0.1s ease-in-out; /* Smooth transition for hiding and showing */
}


.navLinks {
    display: flex;
    gap: 2em;
    font-family: 'BambooGothic', sans-serif;
    font-size: clamp(1rem, 0.8881rem + 0.3824vw, 1.5rem);
    color: #2955A1;
}


.logoContainer img {
    max-width: 90%;
    height: auto;
}