@font-face {
    font-family: 'BambooGothic';
    src: url('../fonts/Font/bamboo-gothic/bamboo-gothic.ttf') format('truetype');
}



.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    background: white;
}

.navLinks {
    display: flex;
    gap: 2em;
    font-family: 'BambooGothic', sans-serif;
    font-size: clamp(1rem, 0.8881rem + 0.3824vw, 1.5rem);
    color: #2955A1;
}


.logoContainer img {
    max-width: 90%;
    height: auto;
}