@font-face {
    font-family: 'BambooGothic';
    src: url('../fonts/Font/bamboo-gothic/bamboo-gothic.ttf') format('truetype');
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
}

.videoContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
    gap: 2rem;
}

.fotoContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.videoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.videoText p {
    font-size: clamp(1rem, 0.8881rem + 0.3824vw, 1.5rem);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video p {
    margin: 0 auto;
    font-size: clamp(1rem, 0.8881rem + 0.3824vw, 1.5rem);

}

.fotoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotoBox p {
    margin: 0 auto;
    font-size: clamp(1rem, 0.8881rem + 0.3824vw, 1.5rem);
    font-family: 'BambooGothic', sans-serif;
}

#videoImage, .foto, .image {
    width: 100%;
    height: auto;
}

h1 {
    font-size: clamp(1.5rem, 1.2763rem + 0.7648vw, 2.5rem);
    font-family: 'BambooGothic', sans-serif;
    font-weight: 200;
}

p {
    padding: 3vh 0;
}

.instructionContainer {
    background-color: #819FCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}

.leftColumn, .rightColumn {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
}

h2 {
    font-size: clamp(1.5rem, 1.2763rem + 0.7648vw, 2.5rem);
    margin: 5vh auto 10vh auto;
    font-family: 'BambooGothic', sans-serif;
}

.initialBox {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.paragraph {
    font-size: clamp(0.9rem, 0.8329rem + 0.2294vw, 1.2rem);
    font-family: 'BambooGothic', sans-serif;
    line-height: 1.6;
    margin-bottom: 5vh;
}

.image {
    margin-bottom: 5vh;
}